$("#foods table tbody").prepend("<tr class='success'>" +
                                "<td><%= @food.food %></td>" +
                                "<td><%= @food.calories %></td>" +
                              "</tr>");
